name: Release Kpow (AWS builds only)

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version of Kpow"
        required: true
      manifest:
        description: "URL of Manifest"
        required: true
      release_number_bump:
        description: "I have updated system.clj release number!"
        required: true
        default: "false"

# These permissions are needed to interact with GitHub's OIDC Token endpoint.
# Same as releases.yml but we don't publish to ghcr.io so omitting
# the packages:write permission

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check that we have bumped release number
        run: |
          ./scripts/release_number_check.sh ${{github.event.inputs.release_number_bump}}

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Download and verify JAR(s)
        run: |
          ./scripts/jar.sh "${{github.event.inputs.manifest}}"

      - name: Log into ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login \
            --username AWS \
            --password-stdin 709825985650.dkr.ecr.us-east-1.amazonaws.com

        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Kpow AWS Marketplace Annual (EE) to ECR
        run: |
          VERSION=${{github.event.inputs.version}}
          IMAGE_ID=${{ secrets.AWS_MARKETPLACE_ECR_URI }}/kpow-annual
          IMAGE_TAG=$VERSION
          ./scripts/build_aws_marketplace.sh $VERSION $IMAGE_ID $IMAGE_TAG dockerfile/aws-mkt-lm/Dockerfile

      - name: Build and Push Kpow AWS Marketplace Hourly (SE) to ECR
        run: |
          VERSION=${{github.event.inputs.version}}
          IMAGE_ID=${{ secrets.AWS_MARKETPLACE_ECR_URI }}/kpow-hourly
          IMAGE_TAG=$VERSION
          ./scripts/build_aws_marketplace.sh $VERSION $IMAGE_ID $IMAGE_TAG dockerfile/aws-mkt-pro/Dockerfile
